<div class="resume-chooser">
    <div class="resume-chooser-button">
        <ion-button id="chooser-button"
                    class="button-confirm"
                    fill="outline"
                    shape="round"
                    (click)="choose()">
            Upload
        </ion-button>
    </div>
    <div class="resume-chooser-input">
        <ion-input id="chosen-resume"
                   placeholder="No Resume Chosen"
                   readonly="true"
                   value="{{ settingsService.resume_uri | async }}">
        </ion-input>
    </div>
</div>
