<ion-toolbar color="light"
             id="header-profile-toolbar">
    <!--<div id="header-profile">-->
        <!--<img id="header-profile-image"-->
             <!--[src]="(userService.user | async).pictureUrl"-->
             <!--alt="Profile Image" />-->
        <!--<div id="header-profile-info">-->
            <!--<div id="header-profile-name">-->
                <!--<h6 id="header-profile-name-header">{{ (userService.user | async).firstName }} {{ (userService.user | async).lastName }}</h6>-->
            <!--</div>-->
            <!--<div id="header-profile-headline">-->
                <!--<p id="header-profile-headline-paragraph">{{ (userService.user | async).headline }}</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</ion-toolbar>