<form (ngSubmit)="signup()" [formGroup]="signupForm">
    <ion-list class="form-list">
        <app-text-input type="text"
                        placeholder="Full Name"
                        formControlName="fullName"></app-text-input>
        <app-text-input type="email"
                        placeholder="Email"
                        formControlName="email"></app-text-input>
        <app-text-input type="password"
                        placeholder="Password"
                        formControlName="password"></app-text-input>
        <app-text-input type="password"
                        placeholder="Confirm Password"
                        formControlName="confirmPassword"></app-text-input>
    </ion-list>
    <div>
        <div [appMessage]="'error'">{{ signupError }}</div>
        <app-button id="login-toggle-button"
                    [disabled]="!signupForm.valid"
                    [expand]="true"
                    type="submit">
            Sign Up
        </app-button>
    </div>
</form>