<ion-header>
    <app-header title="Profile"></app-header>
</ion-header>
<ion-content padding-top color="light">
    <div id="profile-page">

        <!-- Update Profile Section -->
        <div id="update-profile"
             class="profile-page-card">
            <app-section-card title="Update Profile"
                              subtitle="Update your public profile"
                              [expandable]="true"
                              icon="person"
                              id="update-profile-section">
                <div class="profile-image-wrapper">
                    <img class="profile-image"
                         *ngIf="(currentUserService.currentUser$ | async)"
                         [src]="(currentUserService.currentUser$ | async).photoUrl"
                         alt="Profile Image" />
                    <app-button id="select-profile-photo-button"
                                type="button"
                                fill="clear"
                                color="medium"
                                (click)="choosePhoto()"
                                [expand]="true">
                        Select Photo
                    </app-button>
                </div>
                <form (ngSubmit)="updateName()"
                      [formGroup]="updateNameForm"
                      id="update-name-form">
                    <ion-list>
                        <app-text-input type="text"
                                        label="Full Name"
                                        placeholder="Full Name"
                                        formControlName="fullName"></app-text-input>
                    </ion-list>
                    <div [appMessage]="'error'">{{ updateNameError }}</div>
                    <app-button id="update-name-confirm-button"
                                [disabled]="!updateNameForm.valid"
                                type="submit"
                                [expand]="true">
                        Save Changes
                    </app-button>
                </form>
            </app-section-card>
        </div>

        <!-- Update Resume Section -->
        <div id="update-resume"
             class="profile-page-card">
            <app-section-card title="Update Resume"
                              subtitle="Update your current resume"
                              [expandable]="true"
                              icon="document"
                              id="update-resume-section">
                <div class="resume-preview-wrapper"
                     *ngIf="(currentUserService.currentUser$ | async)">
                    <div class="resume-preview"
                         *ngIf="_resume; else noResume">
                        <pdf-viewer [src]="_resume"
                                    [original-size]="false"
                                    [fit-to-page]="true"
                                    style="display: block;"></pdf-viewer>
                    </div>
                    <ng-template #noResume>
                        <div class="resume-preview" [appMessage]="'info'">
                            No Resume Selected
                        </div>
                    </ng-template>
                </div>
                <div class="update-resume-wrapper">
                    <app-button id="select-resume-button"
                                type="button"
                                (click)="chooseResume()"
                                [expand]="true">
                        Select Resume
                    </app-button>
                </div>
            </app-section-card>
        </div>

        <!-- Update Email Section -->
        <div id="update-email"
             class="profile-page-card">
            <app-section-card title="Update Email"
                              subtitle="Update your current email address"
                              [expandable]="true"
                              icon="mail"
                              id="update-email-section">
                <form (ngSubmit)="updateEmail()"
                      [formGroup]="updateEmailForm"
                      id="update-email-form">
                    <ion-list>
                        <app-text-input type="email"
                                        label="Email"
                                        placeholder="Email"
                                        formControlName="email"></app-text-input>
                        <app-text-input type="password"
                                        label="Password"
                                        placeholder="Enter your password"
                                        formControlName="password"></app-text-input>
                    </ion-list>
                    <div [appMessage]="'error'">{{ updateEmailError }}</div>
                    <app-button id="update-email-confirm-button"
                                [disabled]="!updateEmailForm.valid"
                                type="submit"
                                [expand]="true">
                        Update Email
                    </app-button>
                </form>
            </app-section-card>
        </div>

        <!-- Reset Password Section -->
        <div id="reset-password"
             class="profile-page-card">
            <app-section-card title="Reset Password"
                              subtitle="Reset your current password"
                              [expandable]="true"
                              icon="keypad"
                              id="reset-password-section">
                <form (ngSubmit)="resetPassword()"
                      [formGroup]="resetPasswordForm"
                      id="reset-password-form">
                    <ion-list>
                        <app-text-input type="password"
                                        label="Current Password"
                                        placeholder="Current Password"
                                        formControlName="currentPassword"></app-text-input>
                        <app-text-input type="password"
                                        label="New Password"
                                        placeholder="New Password"
                                        formControlName="newPassword"></app-text-input>
                        <app-text-input type="password"
                                        placeholder="Confirm New Password"
                                        formControlName="confirmNewPassword"></app-text-input>
                    </ion-list>
                    <div [appMessage]="'error'">{{ resetPasswordError }}</div>
                    <app-button id="reset-password-confirm-button"
                                [disabled]="!resetPasswordForm.valid"
                                type="submit"
                                [expand]="true">
                        Reset Password
                    </app-button>
                </form>
            </app-section-card>
        </div>

        <!-- Delete Account Section -->
        <div id="delete-account"
             class="profile-page-card">
            <app-section-card title="Delete Account"
                              subtitle="Permanently delete your account"
                              [expandable]="true"
                              icon="trash"
                              id="delete-account-section">
                <form (ngSubmit)="deleteAccount()"
                      [formGroup]="deleteAccountForm"
                      id="delete-account-form">
                    <ion-list>
                        <app-text-input type="password"
                                        label="Password"
                                        placeholder="Password"
                                        formControlName="password"></app-text-input>
                    </ion-list>
                    <div [appMessage]="'error'">{{ deleteAccountError }}</div>
                    <app-button id="delete-account-confirm-button"
                                [disabled]="!deleteAccountForm.valid"
                                type="submit"
                                [expand]="true">
                        Delete Account
                    </app-button>
                </form>
            </app-section-card>
        </div>

    </div>
</ion-content>