<ion-header>
    <app-header title="Profile"></app-header>
</ion-header>
<ion-content padding>
    <div id="edit-profile-content">
        <div id="edit-profile-header">
            <h3>Edit Profile</h3>
        </div>
        <div id="update-name-context">
            <form (ngSubmit)="updateName()"
                  [formGroup]="updateNameForm"
                  id="update-name-form">
                <ion-list>
                    <app-text-input type="text"
                                    label="First Name"
                                    placeholder="First Name"
                                    formControlName="firstName"></app-text-input>
                    <app-text-input type="text"
                                    label="Last Name"
                                    placeholder="Last Name"
                                    formControlName="lastName"></app-text-input>
                </ion-list>
                <ion-button id="update-name-confirm-button"
                            class="button-confirm"
                            [disabled]="!updateNameForm.valid"
                            type="submit"
                            fill="outline"
                            expand="block"
                            shape="round">
                    Save Changes
                </ion-button>
            </form>
        </div>
    </div>
</ion-content>