<ion-menu side="start" [disabled]="!isLoggedIn()">
    <ion-content>
        <app-menu-header></app-menu-header>
        <ion-list lines="none">
            <ion-item *ngFor="let page of MENU_PAGES"
                      button
                      (click)="goTo(page.page)"
                      class="menu-item"
                      [ngClass]="{'active': pageIsActive(page.page)}">{{ page.name }}</ion-item>
            <ion-item button
                      (click)="logout()"
                      class="menu-item menu-logout">Logout</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ng-content></ng-content>