.section-card {
  background: white;
  border-radius: 10px;

  .section-card-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    .section-card-label {

      .section-card-title {
        font-size: 1.3em;
        color: var(--ion-color-dark);
      }

      .section-card-subtitle {
        font-size: 1em;
      }

    }

    .section-card-expand {
      position: absolute;
      height: 100%;
      width: 100%;

      .section-card-expand-button {
        height: inherit;
        width: inherit;
        background-color: transparent;
      }

      button:focus {
        outline: 0;
      }

    }

    .section-card-icon {
      margin-left: auto;
      padding: 15px;
      color: var(--ion-color-secondary);

      .section-card-icon-item {
        font-size: 35px;
      }

    }

  }

  .section-card-content {
    padding-top: 0;
  }

}