.menu-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  background-image: linear-gradient(rgba(var(--ion-color-medium-rgb), 0.2), rgba(255,255,255, 0));
}

#menu-header-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}