<ion-content id="login-page">
    <div id="login-content">
        <div id="login-header">
            <h1 id="login-title">Welcome to Zipcard</h1>
            <h3 id="login-subtitle">Recruiting Reimagined</h3>
        </div>
        <div id="login-context">
            <app-login-page-popup>
                <app-login-form *ngIf="action === 'login'; else signup"></app-login-form>
                <ng-template #signup>
                    <app-signup-form></app-signup-form>
                </ng-template>
                <app-button id="login-toggle-button"
                            color="medium"
                            fill="outline"
                            size="small"
                            (click)="toggleAction()">
                    {{ notActionTitle }}
                </app-button>
            </app-login-page-popup>
        </div>
    </div>
</ion-content>
