#login-content {
  min-height: 100%;
  background-image: linear-gradient(60deg, var(--ion-color-primary), var(--ion-color-secondary), var(--ion-color-primary));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #login-header {
    padding: 15px;
    color: var(--ion-color-light);
    text-align: center;

    #login-title {
      font-size: 1.75em;
      font-weight: bold;
    }

    #login-subtitle {
      font-size: 1em;
      font-style: italic;
    }

  }

  //#login-button, #logout-button {
  //  color: var(--ion-color-primary-tint);
  //}

}

#login-card {
  background: var(--ion-color-light);
  text-align: center;
}