<ion-content id="login-page">
    <ion-grid id="login-content">
        <ion-row align-items-center>
            <ion-col>
                <div id="login-text">
                    <h1 id="login-title">Welcome to Zipcard</h1>
                    <h3 id="login-subtitle">Recruiting Reimagined</h3>
                </div>
                <ion-button *ngIf="isLoggedIn; else isLoggedOut"
                            id="login-button"
                            fill="outline"
                            shape="round"
                            (click)="logout()">
                    Logout from&nbsp;<ion-icon name="logo-linkedin"></ion-icon>
                </ion-button>
                <ng-template #isLoggedOut>
                    <ion-button id="logout-button"
                                fill="outline"
                                shape="round"
                                (click)="login()">
                        Login with&nbsp;<ion-icon name="logo-linkedin"></ion-icon>
                    </ion-button>
                </ng-template>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
