<form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-list>
        <app-text-input type="text"
                        placeholder="Email"
                        formControlName="email"></app-text-input>
        <app-text-input type="password"
                        placeholder="Password"
                        formControlName="password"></app-text-input>
    </ion-list>
    <div>
        <div class="form-error">{{ loginError }}</div>
        <ion-button id="login-toggle-button"
                    class="button-confirm"
                    [disabled]="!loginForm.valid"
                    type="submit"
                    fill="outline"
                    expand="block"
                    shape="round">
            Login
        </ion-button>
    </div>
</form>