<form (ngSubmit)="login()" [formGroup]="loginForm">
    <ion-list class="form-list">
        <app-text-input type="email"
                        placeholder="Email"
                        formControlName="email"></app-text-input>
        <app-text-input type="password"
                        placeholder="Password"
                        formControlName="password"></app-text-input>
    </ion-list>
    <div>
        <div class="form-error">{{ loginError }}</div>
        <app-button id="login-toggle-button"
                    [disabled]="!loginForm.valid"
                    [expand]="true"
                    type="submit">
            Login
        </app-button>
    </div>
</form>