<ion-header>
  <app-header>
    <div id="header-profile"
         *ngIf="(currentUserService.currentUser$ | async)">
      <img id="header-profile-image"
           [src]="(currentUserService.currentUser$ | async).photoUrl"
           alt="" />
      <div id="header-profile-info">
        <div id="header-profile-name">
          <h6 id="header-profile-name-header">{{ (currentUserService.currentUser$ | async).fullName }}</h6>
        </div>
      </div>
    </div>
  </app-header>
</ion-header>

<ion-content color="light">

  <div class="resume-preview-wrapper">
    <app-resume-preview *ngIf="(currentUserService.currentUser$ | async)"
                        [resumeUrl]="(currentUserService.currentUser$ | async).resumeUrl"></app-resume-preview>
  </div>

</ion-content>
