<ion-header>
  <app-header>
    <div id="header-profile">
      <img id="header-profile-image"
           [src]="(currentUserService.currentUser$ | async).photoUrl"
           alt="" />
      <div id="header-profile-info">
        <div id="header-profile-name">
          <h6 id="header-profile-name-header">{{ (currentUserService.currentUser$ | async).fullName }}</h6>
        </div>
      </div>
    </div>
  </app-header>
</ion-header>

<ion-content>

  <!--<div *ngIf="(resumeService.resume | async).data; else noResume">-->
    <!--<pdf-viewer [src]="(resumeService.resume | async).data"-->
                <!--[original-size]="false"-->
                <!--[fit-to-page]="true"-->
                <!--style="display: block;"></pdf-viewer>-->
  <!--</div>-->
  <!--<ng-template #noResume>-->
    <!--<div>-->
      <!--No Resume Selected-->
    <!--</div>-->
  <!--</ng-template>-->
  <p *ngIf="(currentUserService.currentUser$ | async)">
    {{ (currentUserService.currentUser$ | async).fullName }}
  </p>


</ion-content>

<ion-footer padding-bottom padding-start padding-end
            style="background-color: var(--ion-color-light)">
  <app-resume-chooser></app-resume-chooser>
</ion-footer>

