#header-profile {
  display: flex;
  flex-direction: row;
  align-items: center;

  #header-profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
  }

  #header-profile-name {
    font-size: 1em;
    margin: 5px;
  }

}

#home-resume-preview-wrapper {
  height: 100%;

  #home-resume-preview {
    max-width: 500px;
    margin: auto;
    padding-top: 5px;
  }

}

#home-options {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
  max-height: 200px;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(var(--ion-color-light-rgb), 0.7);

  .option-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 300px;
    min-width: 50px;
    padding: 15px;

    app-button {
      width: 100%;
    }

    ion-icon {
      color: var(--ion-color-primary);
      font-size: 25px;
    }

  }

}