<ion-header>
  <app-header>
    <div id="header-profile"
         *ngIf="(currentUserService.currentUser$ | async)">
      <img id="header-profile-image"
           [src]="(currentUserService.currentUser$ | async).photoUrl"
           alt="" />
      <h6 id="header-profile-name">{{ (currentUserService.currentUser$ | async).fullName }}</h6>
    </div>
  </app-header>
</ion-header>

<ion-content color="light">

  <div id="home-resume-preview-wrapper">
    <div id="home-resume-preview">
      <app-resume-preview *ngIf="(currentUserService.currentUser$ | async)"
                          [resumeUrl]="(currentUserService.currentUser$ | async).resumeUrl">
      </app-resume-preview>
    </div>
  </div>

  <div id="home-options">

    <div class="option-button">
      <app-button id="send-resume"
                  [expand]="true"
                  [stretch]="true">
        <div>
          <ion-icon name="arrow-round-up"></ion-icon>
          <br/>
          <label>Send</label>
        </div>
      </app-button>
    </div>

    <div class="option-button">
      <app-button id="receive-resume"
                  [expand]="true"
                  [stretch]="true">
        <div>
          <ion-icon name="arrow-round-down"></ion-icon>
          <br/>
          <label>Receive</label>
        </div>
      </app-button>
    </div>

  </div>

</ion-content>
